footer
	.container.center
		a.logo(href="http://sfdevlabs.com" target="_blank")
			img(src="/img/sfdevlabs-invert.png")
		ul.footer-contact.list-inline

			li
				a(href="http://facebook.com/chingappinvoicing" target="_blank")
					| Ching on Facebook
			li="|"
			li
				a(href="http://twitter.com/ching_io" target="_blank")
					| @ching_io

			li="|"

			li
				a(href="mailto:support@ching.io" target="_blank")
					| support@ching.io

				
