.alert
  div.alert-wrap
    button.close(type='button', data-dismiss='alert') ×
    ul
      - if (typeof info != 'undefined' && info.length)
        - each inf in info
          li.alert-info!= inf

      - if (typeof errors != 'undefined' && errors.length)
        - each error in errors
          li.alert-danger!= error

      - if (typeof success != 'undefined' && success.length)
        - each succ in success
          li.alert-success!= succ

      - if (typeof warning != 'undefined' && warning.length)
        - each warn in warning
          li.alert-warning!= warn
