
- if (comment && comment.user)
  .comment
    - var action = "/articles/" + article._id + "/comments/" + comment._id
    -if(req.token){action+= '/'+req.token}
    -if (comment.user.id==req.user.id)
      form.form-inline.right(role="form", method="post", action=action, onsubmit="return confirm('Delete this comment?')")
        input(type='hidden', name='_csrf', value="#{csrf_token}")
        input(type="hidden", name="_method", value="DELETE")
        button.remove(type="submit") 
          i.typcn.typcn-delete
    - var name = comment.user.organization ? comment.user.organization : comment.user.firstname+' '+comment.user.lastname
    p
      a(href="/users/"+comment.user._id)= name
      |  :&nbsp;
      = comment.body
    span.muted= formatDatetime(comment.createdAt)
