 
- var action = "/articles/"+article._id+"/comments"
-if(req.token){action+= '/'+req.token}
form.block(method="post", action=action, role="form")
  input(type='hidden', name='_csrf', value="#{csrf_token}")
  .form-group
    textarea.form-control(type='text', rows="6", name="body", placeholder='Add your comment')
  button.btn.btn-primary(type='submit') Add comment