.remove-sidebar {
  top: 0px;
  margin-top: 30px;
  position: absolute;
  right: 0px; }
  .remove-sidebar tr td {
    background-color: rgba(0, 0, 0, 0); }
  .remove-sidebar tr {
    border: none;
    height: 23px;
    width: 57px; }
    .remove-sidebar tr td {
      border: none !important;
      width: 50px; }
      .remove-sidebar tr td a {
        display: none;
        text-decoration: none; }
        .remove-sidebar tr td a.visible {
          display: block; }
    .remove-sidebar tr:hover td a {
      display: block; }

.images-grid .image {
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-color: #eee;
  display: inline-block;
  margin: 5px; }

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px; }

#footer {
  height: 60px;
  background-color: #f5f5f5; }
  #footer > .container {
    padding-left: 15px;
    padding-right: 15px; }

#total {
  font-size: 2em;
  float: right;
  margin-right: 25px; }

.container .text-muted {
  margin: 20px 0; }

.comment {
  padding: 15px 0;
  border-bottom: 1px solid #e8e8e8; }
  .comment .remove {
    visibility: hidden; }
    .comment .remove i {
      visibility: visible;
      font-size: 2.3em;
      color: #BB1D00; }

.error {
  color: #d9534f; }

a.error {
  color: #d9534f; }
  a.error:hover, a.error:focus {
    color: #d9534f; }

button.error {
  color: #d9534f; }
  button.error:hover, button.error:focus {
    color: #d9534f; }

.form-actions {
  background: #fff;
  border: 0; }

#spacer {
  display: inline-block; }

.muted {
  color: #aaa;
  font-size: 12px; }

.alert {
  margin-top: 10px; }

.navbar-nav > li > a.travis {
  padding-top: 13px; }

#grid .htDimmed {
  color: inherit; }

#ui-datepicker-div {
  background-color: #fff;
  border: 1px solid #ddd; }
  #ui-datepicker-div .ui-icon {
    text-indent: initial; }

.ui-datepicker {
  padding: 0.2em 1.2em 0;
  width: 18em; }
  .ui-datepicker td.ui-datepicker-today {
    font-weight: 900;
    /* border: 1px solid; */
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
    background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 50%; }
  .ui-datepicker a {
    text-align: center !important; }

#csv-file .csv-paste-text {
  display: none; }
#csv-file.visible .csv-paste-text {
  display: block; }
#csv-file.visible .csv-drop-file {
  display: none; }
#csv-file .csv-open-table-window {
  margin-top: 10px;
  display: none; }
  #csv-file .csv-open-table-window.visible {
    display: block; }

.csv-instrucions ol li {
  padding: 0.2em;
  font-weight: 500; }

#csv-ajax {
  width: 100%;
  height: 200px; }

#preview-area {
  margin-top: 30px; }

/* overflow-x: scroll; */
@media (max-width: 1200px) {

  .table-container {
    overflow-x: scroll;
    padding-bottom: 40px;
    padding-box: 5px; }
    .table-container::-webkit-scrollbar {
      display: none; }

  .landing-wrap {
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    float: left;
    padding: 2.5em 0; }

  .scroll-indicator {
    pointer-events: none;
    position: absolute;
    right: 0px;
    height: 100%;
    z-index: 1000;
    width: 40px;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.48) 47%, rgba(255, 255, 255, 0.74) 73%, #ffffff 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0.01)), color-stop(47%, rgba(255, 255, 255, 0.48)), color-stop(73%, rgba(255, 255, 255, 0.74)), color-stop(100%, #ffffff));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.48) 47%, rgba(255, 255, 255, 0.74) 73%, #ffffff 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.48) 47%, rgba(255, 255, 255, 0.74) 73%, #ffffff 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.48) 47%, rgba(255, 255, 255, 0.74) 73%, #ffffff 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.48) 47%, rgba(255, 255, 255, 0.74) 73%, #ffffff 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ffffff', endColorstr='#ffffff',GradientType=1 );
    /* IE6-9 */ }
 }

.handsontable .htContainer .htCore {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }
  .handsontable .htContainer .htCore col.rowHeader {
    width: 30px; }
  .handsontable .htContainer .htCore tbody th {
    background-color: #fff;
    border-bottom-color: #fff !important;
    border-top-color: #fff !important;
    border-left-color: #fff !important;
    color: #BEBEBE;
    font-weight: 400; }
  .handsontable .htContainer .htCore tbody tr:nth-child(even) td {
    background-color: #eee; }
  .handsontable .htContainer .htCore tbody tr td.htInvalid {
    -webkit-transition: background 0.75s ease;
    transition: background 0.75s ease;
    background-color: #ff4c42; }
  .handsontable .htContainer .htCore tbody .htAutocompleteArrow {
    color: #BEBEBE; }
  .handsontable .htContainer .htCore tbody .htAutocomplete {
    text-align: justify; }
  .handsontable .htContainer .htCore thead tr th:first-child {
    background-color: #fff !important;
    border-bottom-color: #fff !important;
    border-top-color: #fff !important;
    border-left-color: #fff !important; }
  .handsontable .htContainer .htCore thead tr:first-child th {
    border-top: 0px !important;
    background-color: #CCC;
    border-right-color: #eee;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 500; }

.autocompleteEditor {
  margin-top: -4px !important; }
  .autocompleteEditor .htContainer table {
    border: 1px solid #999 !important; }
    .autocompleteEditor .htContainer table td {
      background-color: #fff; }

#grid thead th:nth-child(11) {
  display: none; }
#grid tbody tr :nth-child(11) {
  font-size: 1.5em;
  display: block;
  background-color: rgba(255, 255, 255, 0);
  border: none; }
  #grid tbody tr :nth-child(11):hover * {
    display: inline; }
  #grid tbody tr :nth-child(11) * {
    display: none; }
#grid tbody td.visible * {
  display: inline; }
