html, body {
  height: 100%;
}

.remove-sidebar {
  top: 0px;
  margin-top: 30px;
  position: absolute;
  right: 0px;
  tr {
    border: none;
    height: 23px;
    width: 50px;
    td {
      border: none !important;
      width: 50px;
      a {
        display: none;
        text-decoration: none;
      }
    }
    &:hover td a {
      display: block;
    }
  }
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
  > .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#total{
  float:right;
}

.container .text-muted {
  margin: 20px 0;
}

body {
  padding-top: 60px;
}

.article, .comment {
  padding: 15px 0;
  border-top: 1px solid #e8e8e8;
}

.error {
  color: #d9534f;
}

a.error {
  color: #d9534f;
  &:hover, &:focus {
    color: #d9534f;
  }
}

button.error {
  color: #d9534f;
  &:hover, &:focus {
    color: #d9534f;
  }
}

.form-actions {
  background: #fff;
  border: 0;
}

#spacer {
  display: inline-block;
}

.muted {
  color: #aaa;
  font-size: 12px;
}

.alert {
  margin-top: 10px;
}

.navbar-brand {
  font-size: 14px;
  color: #000 !important;
}

.navbar-nav > li > a.travis {
  padding-top: 13px;
}


#grid .htDimmed{
  
  color: inherit;
  
}

#dropzone{
  width:500px;
  height:100px;
  background-color: pink;
  &.dragging{
    border: 5px dashed;
  }
}
