html, body, header {
  height: 100%; }

#area-chart {
  font-size: 10px; }
  #area-chart .axis path, #area-chart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges; }
  #area-chart .browser text {
    text-anchor: end; }
