.chart-wrapper {
  margin: 2em 0px;
  overflow: hidden; }
  .chart-wrapper #area-chart {
    border-radius: 5px;
    background: #f7f7f7;
    font-size: 14px; }
    .chart-wrapper #area-chart .axis path, .chart-wrapper #area-chart .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges; }
  .chart-wrapper .browser text {
    text-anchor: end; }
