@import url(font-sans);
html, body, header {
  width: 100%; }

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  color: #666;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.invoice-bar .typcn:before {
  font-size: 1.5em;
  line-height: 1em; }
.invoice-bar .btn {
  margin-top: 5px;
  margin-right: 5px; }

.container {
  position: relative; }

.page-wrap {
  min-height: 100%;
  margin-bottom: -150px;
  padding-top: 51px; }

.page-wrap:after {
  content: "";
  display: block; }

footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 150px; }

.navbar {
  margin-bottom: 0; }

.alert {
  pointer-events: none;
  position: fixed;
  width: 100%;
  left: 0;
  top: 30%;
  z-index: 2000;
  margin: 0; }
  .alert .alert-wrap {
    pointer-events: auto;
    width: 40%;
    position: relative;
    margin: 0 auto;
    padding: 15px;
    background: #fff;
    border: 2px solid #eee;
    text-align: center; }
    .alert .alert-wrap li {
      padding: 5px;
      border-radius: 5px; }
    .alert .alert-wrap button {
      border-radius: 100em;
      position: absolute;
      right: 0em;
      top: 0px;
      opacity: 1; }

button, input, textarea, select {
  font: 1em "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400; }

.row {
  clear: both; }
  .row.last {
    margin-bottom: 5em; }
  .row.last-row {
    margin-bottom: 15px; }

body.landing {
  background: #f0f0f0; }

.left {
  float: left;
  text-align: left; }

.left-float {
  float: left; }

.right {
  float: right;
  text-align: right; }

.right-float {
  float: right; }

.clear {
  clear: both; }

a {
  text-decoration: none !important; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

em strong, strong em {
  font-style: italic;
  font-weight: bold; }

.center {
  text-align: center; }
  .center .button {
    margin: 0 auto 1.25em auto; }
  .center .logo {
    margin: 0 auto 0.625em auto; }

.gray {
  color: #aaa; }

.lightgray {
  color: #bbb; }

a {
  text-decoration: none;
  -webkit-transition: color 0.5s ease-in-out;
  transition: opacity color 0.5s ease-in-out;
  color: #0085c3; }
  a:active {
    color: #F92700; }
  a:hover {
    color: #006290; }

.btn, a.button, .button {
  display: inline-block;
  background: none;
  border: 2px solid rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.35);
  text-shadow: none;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  text-decoration: none;
  padding: 0.4375em 2.5em 0.625em 2.5em;
  line-height: 1em;
  font-weight: 400;
  border-radius: 3px;
  cursor: pointer; }
  .btn:hover, a.button:hover, .button:hover {
    -webkit-transition: color 0.5s ease-in-out;
    transition: opacity color 0.5s ease-in-out;
    border-color: #02c34e;
    color: #02c34e; }
  .btn.action, a.button.action, .button.action {
    color: #fff;
    border-bottom: 3px solid rgba(0, 0, 0, 0.25);
    border-top: 3px solid rgba(255, 255, 255, 0.25);
    border-left: 0;
    border-right: 0;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    background: #02c34e;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .btn.action:hover, a.button.action:hover, .button.action:hover {
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      background: #01913a;
      border-top-color: rgba(0, 0, 0, 0.25);
      border-bottom-color: transparent; }
  .btn.btn-danger, a.button.btn-danger, .button.btn-danger {
    background: none;
    border-color: #F92700;
    color: #F92700; }
    .btn.btn-danger:hover, a.button.btn-danger:hover, .button.btn-danger:hover {
      color: #c61f00;
      border-color: #c61f00; }
  .btn.subtle, .btn.subtle.btn-danger, a.button.subtle, a.button.subtle.btn-danger, .button.subtle, .button.subtle.btn-danger {
    background: none;
    border-color: #02c34e;
    color: #02c34e; }
    .btn.subtle:hover, .btn.subtle.btn-danger:hover, a.button.subtle:hover, a.button.subtle.btn-danger:hover, .button.subtle:hover, .button.subtle.btn-danger:hover {
      color: #01913a;
      border-color: #01913a; }
  .btn.subtle.btn-danger, a.button.subtle.btn-danger, .button.subtle.btn-danger {
    background: none;
    border: 2px solid rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.35); }
    .btn.subtle.btn-danger:hover, a.button.subtle.btn-danger:hover, .button.subtle.btn-danger:hover {
      color: #F92700;
      border-color: #F92700; }
  .btn.left, a.button.left, .button.left {
    display: block;
    float: left; }
  .btn.right, a.button.right, .button.right {
    display: block;
    float: right; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #333; }

h1 {
  font-size: 4em;
  line-height: 1em;
  margin-bottom: 0.325em;
  /*&:first-child {
    margin-top: 0.625em;
  }
  */ }

.invoice-form .left p, .invoice-form h1 {
  margin-bottom: 0; }

h2 {
  font-size: 2.5em;
  line-height: 1em;
  margin-bottom: 0.625em; }

h3 {
  font-size: 1.875em;
  line-height: 1em;
  margin-bottom: 0.625em; }

p, ul, ol {
  margin-bottom: 1.25em;
  color: #666; }

.btn, .form-control {
  font-size: 16px; }

.forgot {
  margin-top: 2.5em; }

.main-content {
  padding-top: 2.5em; }
  .main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6, .main-content p, .main-content ul li, .main-content ol li {
    line-height: 1.25em;
    margin-bottom: 1.25em; }
  .main-content:last-child {
    margin-bottom: 0; }
  .main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-bottom: 0.625em; }
  .main-content .alert ul {
    list-style: none;
    padding-left: 0; }

.col.center-block {
  float: none; }

form.large label, form.large input, form.large textarea, form.large select, form.large button, form.block label, form.block input, form.block textarea, form.block select, form.block button {
  display: block;
  clear: both;
  width: 100%; }
form.large textarea:focus, form.large input:focus, form.block textarea:focus, form.block input:focus {
  outline: none;
  border-color: #6c878d; }
form.large button, form.block button {
  width: auto; }
form.large label, form.large input, form.large textarea, form.large select, form.large button {
  font-size: 1.25em;
  line-height: 1.25em; }
form .form-group {
  margin-bottom: 1em;
  padding-left: 0px; }
  form .form-group:last-child {
    margin-bottom: 0; }
  form .form-group .line {
    background-color: #f0f0f0;
    width: 40px;
    margin: auto; }
  form .form-group hr.line-margin {
    margin-bottom: -1em; }
form .separator {
  margin-bottom: 0.25em; }

input[type=text], input[type=email], input[type=password], textarea {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  outline: none;
  border: 2px solid #f0f0f0;
  border-top-color: #d6d6d6;
  border-radius: 3px;
  padding: 0.5em 1em; }

input.half {
  display: inline !important;
  width: 49% !important; }

.navbar {
  background: #f0f0f0;
  border-bottom: 1px solid #d6d6d6; }

nav.navbar .navbar-brand {
  font-weight: 600; }
nav.navbar p, nav.navbar ul li {
  margin-bottom: 0; }

.navbar-header .navbar-brand {
  display: block; }
.navbar-header .logo, .navbar-header .logo img {
  display: block;
  width: 30px;
  float: left;
  margin-top: -2px;
  height: 30px;
  margin-right: 5px; }

.login .logo {
  box-shadow: 0 2px 0 #909fa0;
  background: #f0f0f0; }
.login .logo img {
  padding: 1.25em; }

.logo, .logo img {
  display: block;
  max-width: 100px;
  border-radius: 100em; }

.logo img {
  opacity: 0.45; }

footer {
  padding: 1.5em 0 0 0;
  background: transparent url(/img/grid.jpg) center center repeat;
  background-size: 50% auto;
  text-align: center;
  float: none;
  clear: both;
  border-top: 1px solid rgba(0, 0, 0, 0.25); }
  footer .logo, footer .logo img {
    border-radius: 0;
    max-width: 50px; }
  footer .footer-contact {
    margin: 1.5em; }
    footer .footer-contact li a {
      color: rgba(255, 255, 255, 0.75);
      font-size: 1.1em;
      font-weight: 500; }
  footer img {
    opacity: 0.5;
    -webkit-transition: all 0.5s;
    transition: opacity all 0.5s; }
    footer img:hover {
      -webkit-transition: all 0.5s;
      transition: opacity all 0.5s;
      opacity: 1; }
  footer p {
    font-size: 0.8em;
    font-weight: 600; }

.landing header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fafafa; }
  .landing header .header-content {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 32.375em;
    margin-top: -16.1875em; }
    .landing header .header-content h1 {
      text-align: center;
      clear: both;
      width: 100%;
      font-weight: 900;
      color: #FF9B00;
      margin-bottom: 0.3125em; }
    .landing header .header-content .computer {
      min-height: 200px;
      position: relative;
      width: 100%;
      z-index: 1000; }
      .landing header .header-content .computer img {
        position: relative;
        display: block;
        width: 40%;
        margin: 0 auto;
        float: none;
        z-index: 1000;
        min-width: 300px; }
  .landing header .ground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.025);
    height: 50%;
    border-top: 4px solid rgba(0, 0, 0, 0.01); }
  .landing header .junk {
    z-index: 10;
    color: #ddd;
    position: absolute;
    width: 50%;
    height: 5em;
    top: 50%;
    margin-top: -7em; }
    .landing header .junk span {
      display: block;
      position: absolute;
      left: 0;
      font-size: 3.75em; }
      .landing header .junk span.number {
        font-size: 1.25em; }
  .landing header .invoices {
    z-index: 1;
    position: absolute;
    width: 50%;
    height: 10em;
    top: 50%;
    right: 0;
    margin-top: -6.5em;
    overflow: hidden; }
    .landing header .invoices img {
      display: block;
      max-width: 100px;
      position: absolute;
      left: 0; }
  .landing header .right {
    position: absolute;
    right: 0;
    top: 0; }
    .landing header .right a.button {
      font-size: 0.85em;
      margin-top: 1em; }
  .landing header p.tagline {
    color: rgba(0, 0, 0, 0.5); }
  .landing header .more {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0.625em;
    text-shadow: 0 1px rgba(0, 0, 0, 0.15); }
    .landing header .more span {
      display: block; }
  .landing header .tagline, .landing header div > p {
    font-size: 1.4em;
    line-height: 1.5em; }
  .landing header p.tagline {
    line-height: 1.5em;
    font-weight: 600;
    margin-bottom: 0.925em;
    font-size: 1.75em; }
.landing .landing-content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0; }
.landing .details {
  text-align: center; }
  .landing .details .button {
    margin: 0 1.25em; }
  .landing .details ul li {
    margin-top: 2em; }
.landing .feature-list {
  padding: 3.75em 0 2.5em 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  min-height: 400px; }
  .landing .feature-list .features li {
    margin-top: 40px; }
  .landing .feature-list .icon {
    font-size: 6.5em;
    color: #bdbdbd;
    vertical-align: bottom;
    line-height: 0.625em;
    color: #FF9B00; }
    .landing .feature-list .icon:before {
      display: inline; }
  .landing .feature-list p {
    text-align: justify;
    width: 80%;
    margin: auto; }
.landing .logos {
  background: #fafafa;
  padding: 6em 0; }
  .landing .logos ul {
    min-height: 100px; }
  .landing .logos h2 {
    margin-bottom: 1.25em; }
  .landing .logos .ding img {
    margin-top: 1.65em; }
  .landing .logos .expensify img {
    margin-top: 2.5em;
    max-width: 220px; }
  .landing .logos img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100px;
    opacity: 0.35; }
.landing p:last-child {
  margin-bottom: 0; }
.landing h2.mini {
  font-size: 1.875em; }
.landing .feature-list .mini i {
  font-size: 1.5em; }
.landing .cta {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background: #444 url(/img/invoice-icon.svg) center center repeat;
  background-size: 20px auto;
  padding: 5em 0; }
  .landing .cta h2.mini {
    color: rgba(255, 255, 255, 0.75); }
  .landing .cta p {
    font-size: 1.5em;
    margin-top: 1.25em; }
.landing footer {
  margin-top: 0; }

body.login {
  background: #f0f0f0; }
  body.login form input {
    border-color: #e3e3e3; }
  body.login .logo {
    background: #fdfdfd; }

.sign-up {
  padding-bottom: 5em; }

.search button {
  padding: 0px 10px;
  height: 32px; }
.search input {
  height: 32px; }
.search .search-icon {
  font-size: 1.2em;
  line-height: 1em; }

header > div {
  float: left; }
header .title-row {
  width: 50%; }
header .right-row {
  width: 35%;
  float: right; }
header .middle-buttons {
  padding: 0px 5px; }
  header .middle-buttons button {
    padding: 5px 5px 2px; }
  header .middle-buttons i {
    font-size: 1.3em; }

.list header.row {
  margin-top: 4em;
  margin-bottom: 0.5em; }
  .list header.row h2 {
    margin-bottom: 0em;
    margin-top: 0em; }
.list h1 {
  margin-bottom: 0.3125em; }
.list .counts {
  margin-top: 5em; }
  .list .counts li {
    display: inline-block;
    margin-left: 1.25em;
    font-weight: 600; }
.list .all {
  color: #000; }
.list .article {
  margin-bottom: 30px; }
  .list .article .status {
    text-transform: capitalize;
    padding: 10px 15px;
    color: rgba(0, 0, 0, 0.5); }
  .list .article .content {
    position: relative;
    min-height: 13.75em;
    background: #f7f7f7;
    border-bottom: 2px solid;
    padding: 10px; }
    .list .article .content h4 {
      margin-top: 5px;
      margin-bottom: 5px; }
    .list .article .content h5 {
      margin: 0px; }
  .list .article .date {
    position: absolute;
    bottom: 0px;
    margin-right: 15px; }
  .list .article .dim {
    color: #bbb; }

.draft {
  color: #888;
  border-bottom-color: #888; }
  .draft .status {
    background: #d5d5d5; }

.sent {
  color: #c4c154;
  border-bottom-color: #c4c154; }
  .sent .status {
    background: #c4c154; }

.paid {
  color: #02C3A6;
  border-bottom-color: #02C3A6; }
  .paid .status {
    background: #02C3A6; }

.verified {
  color: #02c34e;
  border-bottom-color: #02c34e; }
  .verified .status {
    background: #02c34e; }

.overdue {
  color: #F92700;
  border-bottom-color: #F92700; }
  .overdue .status {
    background: #F92700; }

.draft h2, .draft h2.dim, .draft .status, .draft .date, .sent h2, .sent h2.dim, .sent .status, .sent .date, .paid h2, .paid h2.dim, .paid .status, .paid .date, .overdue h2, .overdue h2.dim, .overdue .status, .overdue .date {
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out; }
.draft:hover, .sent:hover, .paid:hover, .overdue:hover {
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  border-color: #0085c3; }
  .draft:hover h2, .draft:hover h2.dim, .draft:hover .status, .draft:hover .date, .sent:hover h2, .sent:hover h2.dim, .sent:hover .status, .sent:hover .date, .paid:hover h2, .paid:hover h2.dim, .paid:hover .status, .paid:hover .date, .overdue:hover h2, .overdue:hover h2.dim, .overdue:hover .status, .overdue:hover .date {
    color: #0085c3; }

.controls {
  background: #e6e6e6;
  width: 100%;
  clear: both;
  padding: 15px 0;
  border-bottom: 1px solid #cccccc;
  text-align: center; }
  .controls form, .controls .btn {
    display: inline-block;
    margin: 1 1.25em 0; }

.modal {
  display: none;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000; }
  .modal .modal-header {
    padding: 0px;
    margin-bottom: 10px; }
  .modal .modal-wrap {
    position: absolute;
    top: 5em;
    background: #fff;
    padding: 1.25em; }
    .modal .modal-wrap.col-lg-8 {
      left: 50%;
      margin-left: -33.33333%; }
    .modal .modal-wrap.col-lg-9 {
      left: 45%;
      margin-left: -33.33333%; }

body.show {
  background: #f5f5f5; }
  body.show .invoice-wrap .container {
    background: #fff; }
    body.show .invoice-wrap .container:last-child {
      padding-bottom: 5em; }
  body.show footer {
    margin-top: 0; }

.invoice-form {
  padding-top: 2.5em; }
  .invoice-form .properties {
    padding: 1.25em 0;
    border: 1px solid transparent; }
    .invoice-form .properties:hover {
      background: #fafafa;
      border: 1px dashed #e6e6e6; }
    .invoice-form .properties .btn {
      margin: 0.7em 0em 0em; }
    .invoice-form .properties .status {
      margin-top: 0em; }
    .invoice-form .properties .invoice-img i {
      font-size: 2em; }
    .invoice-form .properties .invoice-img img {
      width: 100px; }
  .invoice-form h2 {
    margin-bottom: 0; }
  .invoice-form .meta {
    padding-top: 0; }
  .invoice-form .col-md-4 {
    position: relative; }
  .invoice-form .add-recipient-trigger {
    margin-right: 15px; }
  .invoice-form .add-recipient-position {
    position: absolute;
    top: 60px;
    right: -10%;
    background: #eee;
    box-sizing: border-box;
    padding: 20px;
    width: 50%;
    margin-right: 111px;
    z-index: 1000;
    border-bottom: 2px solid #aaa; }
  .invoice-form .to-block > p:first-child, .invoice-form .to-block .to {
    padding-top: 1.25em; }
  .invoice-form .to-block .to {
    padding-bottom: 1.25em;
    border: 1px solid transparent; }
    .invoice-form .to-block .to p {
      margin-bottom: 0; }
    .invoice-form .to-block .to:hover {
      background: #fafafa;
      border: 1px dashed #e6e6e6; }
      .invoice-form .to-block .to:hover .close-button span {
        cursor: pointer;
        display: block;
        right: -0.3125em;
        top: -0.3125em; }
  .invoice-form .to-block ul.dropdown-menu {
    width: 100%; }
    .invoice-form .to-block ul.dropdown-menu li {
      padding: 5px; }
      .invoice-form .to-block ul.dropdown-menu li:hover {
        background-color: #eee; }
        .invoice-form .to-block ul.dropdown-menu li:hover button {
          background-color: #eee; }
      .invoice-form .to-block ul.dropdown-menu li button {
        width: 100%;
        background-color: #fff;
        border: none;
        text-align: left;
        font-weight: 200; }
  .invoice-form .to-block .close-button {
    visibility: hidden; }
    .invoice-form .to-block .close-button span {
      display: none;
      visibility: visible; }

.tags {
  margin-top: 7px; }

div.tags span.tag {
  border: 1px solid #a5d24a;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  /* display: block; */
  /* float: left; */
  padding: 2px 1px 4px 5px;
  text-decoration: none;
  background: #fff;
  color: #638421;
  margin-right: 5px;
  margin-bottom: 5px;
  font-family: helvetica;
  font-size: 13px; }

.close-button span {
  cursor: pointer;
  font-size: 2.5em;
  position: absolute;
  right: -0.5em;
  top: -0.5em;
  background: #ddd;
  border-bottom: 2px solid #aaa;
  padding: 0;
  border-radius: 100em;
  vertical-align: bottom;
  height: 0.85em;
  width: 0.85em;
  line-height: 0.72em;
  text-indent: -0.04em;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out; }
  .close-button span:hover {
    -webkit-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
    color: #F92700; }

.table-container {
  padding-top: 1.25em; }

.dropzone {
  position: relative;
  height: 100px;
  background-color: #f5f5f5;
  border-radius: 1em;
  border: 5px dashed #eee; }
  .dropzone.dragging {
    border-color: #02c34e; }
  .dropzone span {
    position: absolute;
    color: #e5e5e5;
    font-size: 5em;
    line-height: 80px;
    text-align: center;
    width: 100%; }
  .dropzone .text {
    bottom: 0px;
    right: 0px;
    position: absolute;
    font-size: 1em; }

.meta {
  padding-top: 0.25em; }
  .meta:last-child {
    margin-bottom: 1.25em; }
  .meta hr {
    margin-top: 0; }

.popover {
  position: absolute;
  top: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.popover > .arrow, .popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0; }

.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0; }

.popover > .arrow {
  border-width: 11px; }

.popover > .arrow:after {
  content: "";
  border-width: 10px; }

.popover-content {
  padding: 9px 14px; }

.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0; }

.pages {
  text-align: center; }

ul.pagination {
  text-align: center; }
  ul.pagination li {
    display: inline;
    padding: 3px;
    font-size: 1.5em; }
    ul.pagination li i {
      font-size: 1.25em; }

.file-uploader {
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  border-radius: 5px;
  padding: 5px 0px 2px 0px;
  margin: 0px; }
  .file-uploader.highlight {
    background-color: rgba(255, 155, 0, 0.5); }

.fadeIn {
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out; }

.fade {
  opacity: 0 !important; }
