//@import url(font-sans);

//http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic
// variables
$bg: #fff;
$heading: #333;
$text: #666;
$link: #0085c3;
$hover: darken($link, 10%);

$block: #f0f0f0;

$gray: #aaa;
$lightgray: #bbb;
$gold: #c5af73;
$green: #76d66b;

$headerbg: #badee5;
$headerlink: #6c878d;
$headerhover: #3a484b;

$footerbg: #badee5;
$footerlink: #6c878d;
$footerhover: #3a484b;

$buttonbg: #6c878d;
$buttonbghover: #3a484b;
$buttontext: #fff;

$actionbg: #02c34e;
$actionbghover: darken($actionbg, 10%);
$actiontext: #fff;

$warnbg: #F92700;
$warnbghover: darken($warnbg, 10%);
$warntext: #fff;


html,
body, 
header {
  width: 100%;
  overflow-x: hidden;
}

body {
  font: 1em "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: $bg;
  color: $text;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding-top: 3.125em;
}

.container {
  position: relative;
}

.navbar {
  margin-bottom: 0;
}

.alert {
    position: absolute;
    width: 100%;
    left: 0;
    top: 3.125em;
    z-index: 2000;
    margin: 0;
    .alert-wrap {
      width: 20%;
      position: relative;
      margin: 0 auto;
      padding: 15px;
      //background: rgba(0,0,0,0.5);
      background: #fff;
      border: 2px solid #aaa;

      text-align: center;
      button {
        border-radius: 100em;
        position: absolute;
        left: -0.5em;
        top: -0.5em;
      }
    }
}



button,
input,
textarea,
select {
  font: 1em "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.row {
  clear: both;
}

body.landing {
  background: $block;
}

.left {
  float: left;
  text-align: left;
}
.left-float{
  float: left;
}
.right {
  float: right;
  text-align: right;
}
.right-float{
  float: right;
}
.clear {
  clear: both;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

em strong,
strong em {
  font-style: italic;
  font-weight: bold;
}


.center {
  text-align: center;
  .button {
    margin: 0 auto 1.25em auto;
  }
  .logo {
    margin: 0 auto 0.625em auto;
  }
}

.gray { color: $gray; }
.lightgray { color: $lightgray; }

a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition:opacity all 0.5s ease-in-out;
  color: $link;
  &:active {
    color: #F92700;
  }
  &:hover {
    color: $hover;
  }
}

.btn,
a.button,
.button {
  display: inline-block;
  background: none;
  border: 2px solid rgba(0,0,0,0.25);
  color: rgba(0,0,0,0.35);
  text-shadow: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-decoration: none; 
  padding: 0.4375em 2.5em 0.625em 2.5em;
  line-height: 1em;
  font-weight: 400;
  border-radius: 3px;  
  cursor: pointer;

  &:hover {
    -webkit-transition: all 0.5s ease-in-out;
    transition:opacity all 0.5s ease-in-out;
    border-color: $actionbg;
    color: $actionbg;
  }

  &.action {
    color: #fff;
    border-bottom: 3px solid rgba(0,0,0,0.25); 
    border-top: 3px solid rgba(255,255,255,0.25);
    border-left: 0;
    border-right: 0;
    text-shadow: 1px 1px rgba(0,0,0,0.1);
    background: $actionbg; 
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    &:hover {
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      background: $actionbghover;
      border-top-color: rgba(0,0,0,0.25);
      border-bottom-color: transparent;
    }
  }

  &.btn-danger {
    background: none;
    border-color: $warnbg;
    color: $warnbg;
    &:hover {
      color: $warnbghover;
      border-color: $warnbghover;
    }
  }

  &.subtle,
  &.subtle.btn-danger {
    background: none;
    border-color: $actionbg;
    color: $actionbg;
    &:hover {
      color: $actionbghover;
      border-color: $actionbghover;
    }
  }

  &.subtle.btn-danger {
    background: none;
    border: 2px solid rgba(0,0,0,0.25);
    color: rgba(0,0,0,0.35);
    &:hover {
      color: $warnbg;
      border-color: $warnbg;  
    }
  }

  &.left {
    display: block;
    float: left;
  }    
  &.right {
    display: block;
    float: right;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  letter-spacing: -0.01em;
  color: $heading;
}

h1 {
  font-size: 3.75em;
  line-height: 1em;
  margin-bottom: 0.625em;
  /*&:first-child {
    margin-top: 0.625em;
  }
  */
}

.invoice-form .left p,
.invoice-form h1 {
  margin-bottom: 0;
}

h2 {
  font-size: 2.5em;
  line-height: 1em;
  margin-bottom: 0.625em;
}

h3 {
  font-size: 1.875em;
  line-height: 1em;
  margin-bottom: 0.625em;
}

p,
ul,
ol {
  margin-bottom: 1.25em;
  color: $text;
}

.btn, .form-control {
  font-size: 16px;
}

// extra top margin
.forgot {
  margin-top: 2.5em;
}

.main-content {
  padding-top: 2.5em;
  h1, h2, h3, h4, h5, h6, p, ul li, ol li {
    line-height: 1.25em;
    margin-bottom: 1.25em;
  }
  &:last-child {
    margin-bottom: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.625em;
  }
  .alert ul {
    list-style: none;
    padding-left: 0;
  }
}

.col.center-block {
  float: none;
}

form {
  &.large,
  &.block {
    label,
    input,
    textarea,
    select,
    button {
      display: block;
      clear: both;
      width: 100%;
    }
    textarea:focus,
    input:focus {
      outline: none;
      border-color: $buttonbg;
    }
    button {
      width: auto;
    }
  }
  &.large {
    label,
    input,
    textarea,
    select,
    button {
      font-size: 1.25em;
      line-height: 1.25em; 
    }

  }
  .form-group {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
    .line{
      background-color: $block;
      width: 40px;
      margin: auto;
    }

    hr.line-margin{
      margin-bottom: -1em;
    }
  }
  .separator{
    margin-bottom: .25em;
  }
}

input[type=text], 
input[type=email], 
input[type=password], 
textarea {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  outline: none;
  border: 2px solid $block;
  border-top-color: darken($block, 10%);
  border-radius: 3px;
  padding: 0.5em 1em;
}
input.half{
    display: inline !important;
    width: 49% !important;
  }

.navbar {
  background: $block;
  border-bottom: 1px solid darken($block, 10%);
}

nav.navbar {
  .navbar-brand {
    font-weight: 600;
  }
  p, ul li {
    margin-bottom: 0;
  }
}

.navbar-header {
  .navbar-brand {
    display: block;
    width: 300px;  
  }
  .logo,
  .logo img {
    display: block;
    width: 30px;
    float: left;
    margin-top: -2px;
  }
}
.login {
  .logo {
    box-shadow: 0 2px 0 #909fa0;  
    background: $block;
  }
  .logo img {
    padding: 1.25em;
  } 
}
.logo,
.logo img {
  display: block;
  max-width: 100px;
  border-radius: 100em;
}
.logo img {
  opacity: 0.45;
}


footer {
  margin: 5em 0 0 0;
  padding: 5em 0;
  background: transparent url(/img/grid.jpg) center center repeat;
  background-size: 50% auto;
  text-align: center;
  float: none;
  clear: both;
  border-top: 1px solid rgba(0,0,0,0.25);

  .logo,
  .logo img {
    border-radius: 0;
    max-width: 50px;
  }

  img {
    opacity: 0.5;
    -webkit-transition: all 0.5s;
    transition:opacity all 0.5s;
    &:hover {
      -webkit-transition: all 0.5s;
      transition:opacity all 0.5s;
      opacity: 1;
    }
  }

  p {
    font-size: 0.8em;
    font-weight: 600;
  }
}

.landing {


  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    //background: #2ce084;
    background: #fafafa;

    .header-content {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 32.375em;
      margin-top: -16.1875em;

      h1 {
        text-align: center;
        clear: both;
        width: 100%;
        font-weight: 800;
        color: #FF9B00;
        margin-bottom: 0.3125em;

      }

      .computer {
        position: relative;
        width: 100%;
        z-index: 1000;
        img {
          position: relative;
          display: block;
          width: 40%;
          margin: 0 auto;
          float: none;
          z-index: 1000;
          min-width: 300px;
        }
      }

    }



    .ground {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0,0,0,0.025);
      height: 50%;
      border-top: 4px solid rgba(0,0,0,0.01);
    }



    .junk {
      z-index: 10;
      //color: rgba(0,0,0,0.2);
      color: #ddd;
      position: absolute;
      width: 50%;
      height: 5em;
      top: 50%;
      margin-top: -8.5em;
      span {
        display: block;
        position: absolute;
        left: 0;
        font-size: 3.75em;
        &.number {
          font-size: 1.25em;
        }
      }
    }

    .invoices {
      z-index: 1;
      position: absolute;
      width: 50%;
      height: 5em;
      top: 50%;
      right: 0;
      margin-top: -8.5em;
      img {
        display: block;
        max-width: 100px;
        position: absolute;
        left: 0;
      }
    }

    .right {
      position: absolute;
      right: 0;
      top: 0;
      a.button {
        font-size: 0.85em;
        margin-top: 1em;
      }
    }

    p.tagline {
      color: rgba(0,0,0,0.5);
    }
    
    .more {
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0.625em;
      span {
        display: block;
      }
      text-shadow: 0 1px rgba(0,0,0,0.15);
    }

    .tagline,
    div > p {
      font-size: 1.25em;
      line-height: 1.5em;
    }

    p.tagline {
      line-height: 1.25em;
      font-weight: 600;
      margin-bottom: 0.625em;
    }


  }

  .landing-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0;
  }



  .details {
    text-align: center;
    .button {
      margin: 0 1.25em;
    }
  }

  .feature-list {
    padding: 3.75em 0 2.5em 0;
    border-top: 1px solid darken($block, 7%);
    border-bottom: 1px solid darken($block, 7%);
    .icon {
      font-size: 5em;
      color: darken($block, 20%);
      vertical-align: bottom;
      line-height: 0.625em;
      &:before {
        display: inline;
      }
    }
    p {
      margin-top: 1.25em;
    }    
  }

  .logos {
    background: #fafafa;
    h2 {
      margin-bottom: 1.25em;
    }
    .ding img {
      margin-top: 1.65em;
    }
    .expensify img {
      margin-top: 2.5em;
      max-width: 200px;
    }
    img {
      margin: 0 auto;
      max-width: 160px;
      max-height: 100px;
      opacity: 0.35;
    }
    padding: 5em 0;
  } 

  p:last-child {
    margin-bottom: 0;
  }

  h2.mini {
    font-size: 1.875em;
  }

  .cta {
    border-top: 1px solid rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    background: #444 url(/img/invoice-icon.svg) center center repeat;
    background-size: 20px auto;
    padding: 5em 0; 
    h2.mini {
      color: rgba(255,255,255,0.75);
    }
    p {
      font-size: 1.5em;
      margin-top: 1.25em;
    }
  }

  footer {
    margin-top: 0;
  }

}

body.login {
  background: $block;
  form input {
    border-color: darken($block, 5%);
  }
  .logo {
    background: lighten($block, 5%);
  }
}

.sign-up {
  padding-bottom: 5em;
}

.list h2,
.profile h1 {
    margin-top: 1.6em;
    margin-bottom: 0.5em;

}

// list
.list {
  header.row {
    margin-bottom: 1.25em;
    hr {
    }
  }

  h1 {
    margin-bottom: 0.3125em;
  }

  .counts {
    margin-top: 5em;
    li {
      display: inline-block;
      margin-left: 1.25em;
      font-weight: 600;
    }
  }

  .chart-wrapper {
    height: 200px;
    margin-bottom: 2.5em;
    overflow: hidden;
    #area-chart {
      background: #f7f7f7;
    }
  }
  .all {
    color: #000;
  }

  .article {
    margin-bottom: 30px;
    .status {
      text-transform: capitalize;
      padding: 10px 15px;
      color: rgba(0,0,0,0.5);
      margin: 0;
    }
    .content {
      position: relative;
      min-height: 13.75em;
      background: #f7f7f7;
      border-bottom: 2px solid;
      padding: 15px;

    }
    .date {
      position: absolute;
      bottom: 0px;
      left: 15px;
    }
    .dim {
      color: $lightgray;
    }

  }
}

.draft {
  color: #888;
  border-bottom-color: #888;
  .status {
    background: lighten(#888, 30%);
  }
}

.sent {
  color: #c4c154;
  border-bottom-color: #c4c154;
  .status {
    background: #c4c154;
  }
}

.paid {
  color: $actionbg;
  border-bottom-color: $actionbg;
  .status {
    background: $actionbg;
  }
}

.overdue {
  color: $warnbg;
  border-bottom-color: $warnbg;
  .status {
    background: $warnbg;
  }
}

.draft,
.sent,
.paid,
.overdue {
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  h2,
  h2.dim,
  .status,
  .date {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;  
  }
  &:hover {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    h2,
    h2.dim,
    .status,
    .date {
      color: $link;
    }
    border-color: $link;
  }
}




// invoice
.controls {
  background: darken($bg, 10%);
  width: 100%;
  clear: both;
  padding: 15px 0;
  border-bottom: 1px solid darken($bg, 20%);
  text-align: center;
  form,
  .btn {
    display: inline-block;
    margin: 0 1.25em;
  }
}

.modal {
  display: none;
  background: rgba(0,0,0,0.9);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  .modal-wrap {
    position: absolute;
    top: 5em;
    background: #fff;
    padding: 1.25em;
    &.col-lg-8 {
      left: 50%;
      margin-left: -33.33333333%;
    }
  }
}

body.show {
  background: #f5f5f5;
  .invoice-wrap {
    .container {
      background: #fff;
      &:last-child {
        padding-bottom: 5em;
      }
    }

  }
  footer {
    margin-top: 0;
  }
}

.invoice-form {

  .properties {
    padding: 1.25em 0;
    border: 1px solid transparent;
    &:hover {
      background: #fafafa;
      border: 1px dashed darken($bg, 10%);      
    }
    .btn {
      margin-bottom: 1.25em;
    }
  }

  h2 {
    margin-bottom: 0;
  }
  .meta {
    padding-top: 0;
  }
  padding-top: 2.5em;
  .btn.right {
    //margin-top: -3.125em;
  }
  .col-md-4 {
    position: relative;
  }

  .add-recipient-trigger {
    margin-right: 15px;
  }

  .add-recipient-position {
    position: absolute;
    top: 60px;
    right: -10%;
    background: #eee;
    box-sizing: border-box;
    padding: 20px;
    width: 50%;
    margin-right: 111px;
    z-index: 1000;
    border-bottom: 2px solid $gray;
  }



  .to-block {
    > p:first-child,
    .to {
      padding-top: 1.25em;
    }
    .to {
      padding-bottom: 1.25em;
      border: 1px solid transparent;
      p {
        margin-bottom: 0;
      }
      &:hover {
        background: #fafafa;
        border: 1px dashed darken($bg, 10%);
        .close-button span {
          cursor: pointer;
          display: block;
          right: -0.3125em;
          top: -0.3125em;
        }
      }
    }
    
    .close-button span {
      display: none;
    }
  }

}

div.tagsinput span.tag {
  line-height: 13px;
  background: #f5f5f5;
  border: 1px solid darken($bg, 10%);
  color: $text;
  a {
    color: $text;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    &:hover {
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      color: $warnbg;
    }
  }
}

.close-button span {
  cursor: pointer;
  font-size: 2.5em;
  position: absolute;
  right: -0.5em;
  top: -0.5em;
  background: #ddd;
  border-bottom: 2px solid #aaa;
  padding: 0;
  border-radius: 100em;
  vertical-align: bottom;
  height: 0.85em;
  width: 0.85em;
  line-height: 0.75em;
  text-indent: -0.04em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  &:hover {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: $warnbg;
  }
}

.table-container {
  padding-top: 1.25em;
}

#dropzone {
  position: relative;
  width:500px;
  height:100px;
  background-color: #f5f5f5;
  border-radius: 1em;
  border: 5px dashed #eee;
  &.dragging{
    border-color: $actionbg;
  }
  span {
    position: absolute;
    color: #e5e5e5;
    font-size: 5em;
    line-height: 80px;
    text-align: center;
    width: 100%;
  }
}

// profile
.meta {
  padding-top: 1.25em;
  //border-bottom: 1px solid #ddd;
  &:last-child {
    margin-bottom: 1.25em;
  }
  hr {
    margin-top: 0;
  }
}
.btn.right,
.button.right {
  //margin-top: -5.3125em;
}

@media (min-width: 1300px) {
  .landing {

  }
  .landing-wrap {
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    float: left;
    //max-width: 600px;
    padding: 2.5em 0;
    //min-height: 775px;
  }
}