.invoice-img img{
	width:200px !important;
}

.grid-buttons, .htAutocompleteArrow{
	display: none !important;
}

.handsontable tr th, .handsontable tr td{
	border-bottom-color: #eee;
}

.handsontable tr:last-child th, .handsontable tr:last-child td{
	border-bottom-color: #ccc;
}
