extends ../layouts/default

block content
	header
		.invoices.hidden
			img(src="/img/invoice.svg", class="invoice")
		.junk.hide.hidden
			span.number 1
			span.number 2
			span.number 3
			span.number 4
			span.number 5
			span.number 6
			span.number 7
			span.number 8
			span.number 9
			span.number 100
			span.number 1000
			span.number 10,000
			span.number 40
			span.number 80
			span.number 1500
			span.number 1
			span.number 2
			span.number 3
			span.number 4
			span.number 5
			span.number 6
			span.number 7
			span.number 8
			span.number 9
			span.number 100
			span.number 1000
			span.number 10,000
			span.number 40
			span.number 80
			span.number 1500
			span.typcn.typcn-flash-outline
			span.typcn.typcn-code-outline
			span.typcn.typcn-divide-outline
			span.typcn.typcn-stopwatch
			span.typcn.typcn-input-checked-outline
			span.typcn.typcn-th-list-outline
			span.typcn.typcn-watch
			span.typcn.typcn-calendar-outline
			span.typcn.typcn-mail
			span.typcn.typcn-clipboard
			span.typcn.typcn-times-outline
			span.typcn.typcn-clock
			span.number 100
			span.number 200
			span.number 300
			span.number 400
			span.number 500
			span.number 600
			span.number 700
			span.number 800
			span.number 900
			span.number 100
			span.number 1000
			span.number 10,000
			span.number 40
			span.number 80
			span.number 1500
			span.number 1000
			span.number 2000
			span.number 3000
			span.number 4000
			span.number 5000
			span.number 6000
			span.number 7000
			span.number 8000
			span.number 9000
			span.number 100
			span.number 1000
			span.number 10,000
			span.number 40
			span.number 80
			span.number 1500
			span.typcn.typcn-flash-outline
			span.typcn.typcn-code-outline
			span.typcn.typcn-divide-outline
			span.typcn.typcn-stopwatch
			span.typcn.typcn-input-checked-outline
			span.typcn.typcn-th-list-outline
			span.typcn.typcn-watch
			span.typcn.typcn-calendar-outline
			span.typcn.typcn-mail
			span.typcn.typcn-clipboard
			span.typcn.typcn-times-outline
			span.typcn.typcn-clock
		.header-content
			.container
				h1 Invoicing Bliss
				.computer
					img(src="/img/laptop.png", class="laptop")
				//- div.logo
					img(src="./img/logo.png")
				
				p.tagline Effortlessly create invoices. Track your income.
				//Zero effort  Invoicing
				p
					a(href="/signup", class="button action") Sign up
		.more.tagline
			a(href="#more") Learn more
				span.typcn.typcn-arrow-down
	.landing-content#more
		div.feature-list

			div.container.details.fadeIn.fade.hide
				//- h3.mini.mute 
				//- 	| Reasons you'll &
				//- 	i(class="icon typcn typcn-heart")
				//- 	|  ching:

				ul.features.row
					li.col.col-sm-4
						span(class="icon typcn typcn-chart-area-outline")
						h4 Informative Charts
						p Visualize where money is flowing. See how to improve your cash-flow.
					li.col.col-sm-4
						span(class="icon typcn typcn-zoom-outline")
						h4 Fast Search
						p Complete invoice indexing. Search on items, client names, tags or totals.
					li.col.col-sm-4
						span(class="icon typcn typcn-watch")
						h4 Speedy Invoicing
						p Done in 60 secounds. Import data from spreadheets, time tracking or expense tools.
				ul.features.row					
					li.col.col-sm-4
						span(class="icon typcn typcn-clipboard")
						h4 Spreadsheet Features
						p Cut, copy and paste inside your invoice. Use all the familiar spreadheet commands.
					li.col.col-sm-4
						span(class="icon typcn typcn-calendar-outline")
						h4 Know Due Dates
						p Stay on top of all your accounts. Get paid promptly and avoid past due invoices.
					li.col.col-sm-4
						span(class="icon typcn typcn-input-checked")
						h4 Track Events
						p Monitor an invoice from when it's first viewed to the final payment. 
		div.sources.logos
			div.container.details
				h2.mini Combine timesheets and expenses from anywhere.
				ul
					li.col.col-sm-3.ding(title="Ding")
						img.fadeIn.hide.fade(src="/img/logo-ding.png")
					li.col.col-sm-3.freshbooks(title="Freshbooks")
						img.fadeIn.hide.fade(src="/img/logo-freshbooks.png")
					li.col.col-sm-3.excel(title="Excel")
						img.fadeIn.hide.fade(src="/img/logo-excel-text.png")
					li.col.col-sm-3.expensify(title="Expensify")
						img.fadeIn.hide.fade(src="/img/logo-expensify.png")
		div.cta
			div.container.details
				h2.mini Get the books done faster.
				p.tagline
					a(href="/signup", class="button action") Sign up
		include ../includes/footer
block subfoot
	script(src="/js/jquery.easing.js")
	script(src="/js/jquery.scrollTo.min.js")
	script(src="//cdn.optimizely.com/js/2377500318.js")
	script.
		$( document ).on("ready", function() {

			$(".more").on("click", function(e) {
				e.preventDefault();
				$("body").scrollTo("#more", 500);
			});
			$(".junk").removeClass('hide');///This removes the hide class so they dont appear till we move them
			$(".junk span").each(function() {
				var width = $(window).width() / 1000;
				var top = Math.floor((Math.random() * 100) + 1) + "%";
				//var left = (Math.floor(Math.random() * (99 - 5 + 1)) + 5) + "%";
				var left = "-" + ((Math.floor(Math.random() * (150 - 10 + 1)) + 10) / width) + "%";
				$(this).css("top", top).css("left", left);
				floatJunk(this);
			});

			function timer(element) {
				var delay = Math.floor(Math.random() * (2000 - 100 + 1)) + 200;
				floatJunk(element, delay);
			}

			function floatJunk(element, delay) {
				var width = $(window).width() / 1000;
				var newLeft = "-" + (Math.floor(Math.random() * (20 - 10 + 1)) + 10) + "%";
				var speed = width * (Math.floor(Math.random() * (10000 - 5000 + 1)) + 3000);
				$(element).delay(delay).animate({
					left: "100%"
				}, speed, 'easeInOutQuad', function() {
					$(element).css("left", newLeft);
					floatJunk(element);
				});
			}

			function invoice() {
				var width = $(window).width() / 1000;
				var delay = width * 2000;
				var speed = width * 5000;
				$(".invoices img").delay(delay).animate({
					left: "150%"
				}, speed, 'easeInSine', function() {
					$(".invoices img").css("left", "0");
					invoice();
				});
			}
			//blelow logic makes sure the images are loaded before we start the animation;
			var showJunk =  function(){ 
			  $('.junk').removeClass('hidden')
			  $('.invoices').removeClass('hidden')
			}
			$('.computer img').each(function() {
				if (!this.complete) {
					$(this).load(function(){
						showJunk();
					});
				}else{
					showJunk();
				}
			});

			var logo = $('.logos'),
				features = $('.feature-list'),
				a=true,
				b=true;
			$(window).on('scroll', function(e){

				if (a && isScrolledIntoView(features[0])){
				a=false;
				features.find('.details').removeClass('hide');
				setTimeout(function(){features.find('.details').removeClass('fade')}, 150);
				}
				if (b && isScrolledIntoView(logo[0])){
				b=false;
				logo.find('img').removeClass('hide');
				setTimeout(function(){logo.find('img').removeClass('fade')}, 150);
				}


			})
			function isScrolledIntoView(elem)
			{
			    var docViewTop = $(window).scrollTop();
			    var docViewBottom = docViewTop + $(window).height();

			    var elemTop = $(elem).offset().top;
			    var elemBottom = elemTop + $(elem).height();

			    return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
			}

			invoice();
		});