extends auth

block auth
    br
    
    .col.col-lg-12.center
      h3
        | Reset Your Password
    .col-lg-4
    .col-lg-4.center
      form.col(action="", method="post", role="form")
        input(type='hidden', name='_csrf', value="#{csrf_token}")
        p.col-sm-offset-2.error= message
        .form-group
          input#email.form-control(type="password", placeholder="New Password", name="password")
        .form-group
            button.btn.btn-primary(type='submit') Set New Password
    br

