extends auth

block auth
  .row.center
    form.large.col.col-lg-5.center-block(action="/reset", method="post", role="form")
      div.logo
        a(href="/")
          img(src="./img/logo.png")
      h1 Reset Password
      input(type='hidden', name='_csrf', value="#{csrf_token}")

      p.col-sm-offset-2.error= message

      .form-group
        input#email(type="email", placeholder="your@email.com", name="email")
        button.button.action(type='submit') Set New Password
