doctype html
html
  head
    title= title
    block styles

  body
    block content

    script(type="text/javascript", src="/js/vendor/jquery-1.7.2.min.js")
    script(type="text/javascript", src="/js/vendor/underscore-min.js")
    script(type="text/javascript", src="/js/vendor/backbone-min.js")
    script(type="text/javascript", src="/js/vendor/backbone-min.js")
    script(type="text/javascript", src="/js/vendor/jquery.handsontable.full.js")

    block bodyscripts
