doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  -if (req.path == '/' && !req.isAuthenticated()) var bodyClass = 'landing'
  -else if (req.path == '/login' || req.path == '/reset' || req.path == '/signup') var bodyClass = 'login'
  -else var bodyClass = 'logged-in'
  body(class=bodyClass)
    -if (req.isAuthenticated()) 
      include ../includes/header
      -if (req.info || req.errors || req.success || req.warning)
        include ../includes/messages
    block main
    block content
    -if (req.isAuthenticated()) 
      include ../includes/footer
    include ../includes/foot
    block subfoot
